{% extends "home.html" %}

{% block title %}login{% endblock %}

{% block content %}
    <style>
        body{
            text-align: center;
        }
        h1{
            margin: 2rem;
            text-align: center;
        }
        form{
            text-align: center;
            margin: 2rem;
        }
        input{
            padding: 0.5rem;
            margin: 0.5rem;
            outline: none;
        }
    </style>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <input type="text" name="username" id="" placeholder="Username"><br>
        <input type="password" name="password" id="" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
        <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}