{% extends "home.html" %}

{% block title %}login{% endblock %}

{% block content %}
    <style>
        body{
            text-align: center;
        }
        h1{
            margin: 2rem;
            text-align: center;
        }
        form{
            text-align: center;
            margin: 2rem;
        }
        input{
            padding: 0.5rem;
            margin: 0.5rem;
            outline: none;
        }
    </style>
    <h1>Log In</h1>
    <form action="http://127.0.0.1:5000/login", method="post">
        <input type="text" name="fname" id="" placeholder="Username"><br>
        <input type="password" name="password" id="" placeholder="Password"><br>
        <button type="submit">Login</button>
    </form>
    {% if error %}
        <p style="color: red;">Wrong username or password!! </p>
    {% endif %}
{% endblock %}